body{
    font: 14px normal normal uppercase helvetica, arial, serif;
    background-color:#eff5ba;
      color:#63e863; 
}
*{
   /* border: 2px solid red;*/
    /*padding: 10px 13px 5px 15px;*/
}
header{    
  text-align:center;
  background: url('../Img/tec2.png');
  background-size:1500px 250px;
  padding-top: 1px;
 
}
h1{
    font-size: 70px
}
.form{
    position:relative;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #1e526f;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;    
}

.div1{
    border-color: rgba(127, 255, 0, 0.47);
    border-style: solid;
     position: relative;    
    display:inline-block;
    border-radius: 20px;
}
ul{
    padding: 10px;
    background-color: #1e526f;
}
li{
padding: 0px 10px 0px 0px;    
display: inline;     
}
.cerrar{
  position: relative;
    background-color:#1e526f;
    color: white;
    border-radius: 20px;
}
.div1 input{
    border-color: #63e863;
    border-style: solid;
     position: relative;    
    display:inline-flex;
    border-radius: 20px;    
}

.div2{
  margin-left:20px;
    margin-right: 20px;
  border-color: rgba(127, 255, 0, 0.47);
  border-style: solid;
  position: relative;    
  display:inline-block;
  border-radius: 20px; 
    
}
.div2 input{
    border-color: #63e863;
    border-style: solid;
     position: relative;    
    display:inline-block;
    border-radius: 20px;    
}
label{
margin: 11px 20px 0 0;
font-size: 16px;
color: #eff50e;
text-transform: uppercase;
text-shadow: 1px 1px 1px 	#000000;
}
input[type=submit]{
position: relative;
width: 150px;
height: 40px;
border-radius: 50px;
margin-left: 30px;
margin-top:inherit; 
border: 0px;
background-color: #4ec54e;;
font: 14px normal normal uppercase helvetica, arial, serif;
}
